.php~
/nbproject/
/.idea/
/bin/behat
/bin/phpunit
/ezpublish/cache/
/ezpublish/logs/
/ezpublish_legacy/var/log/
/ezpublish_legacy/var/cache/
/ezpublish_legacy/var/ezdemo_site/cache/
/ezpublish/sessions
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/bundles/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
/web/css/
/web/js/
composer.phar
composer.lock
.buildpath
.project
.settings/
